body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.Google-logo{
    margin-bottom: -20px;
}


.container{
    width: 60%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 1px solid #121212;
}

.search img{
    padding: 3px;
    cursor: pointer;
}

input::placeholder{
    font-size: 18px;
}

input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #fff;
}

@media screen and (max-width:720px){
    input{
        width: 180px;
        height: 30px;
        border: none;
        outline: none;
        background-color: #fff;
    }
    .Google-logo{
        width: 180px;
        margin-bottom: 7px;
    }
    
}